
.logo {
  font-family: 'Lobster', cursive;
  font-size: 64px;
  color: white;

}
#home_fade {
  font: 10px Georgia;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
}

#body_container{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -100px;
}

#body_container button{
  color: white;
  background: none;
}


.chart div {
  font: 10px sans-serif;
  background-color: #99CCFF;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

body{
  background-color: steelblue;
  font-family: Georgia;
  color: white;
}



#motto {
  color: white;
  font-size: 20px;
  float: center;
  display: inline;
  padding-left: 350px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

input {
  margin-top: 5px;
}

.login {
  float: center;
  position: relative;
  border: solid black;

  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #99CCFF;
}

.login button {
 color: white;
 background: none;
}

/*#nav {
  width: 100%;
  padding-bottom: 3em;
  background: black;
  opacity: 0.4;
  color: white;
}*/

.nav_container {
  float: right;
  font-family: Georgia;
}

.nav_container a:link {
    text-decoration: none;
    color: white;
}

.nav_container a:visited {
    text-decoration: none;
    color: white;
}

.nav_container a:hover {
    color: #FFF;
}

.nav_container a:active {
    color: #FFF;
}

.nav_container button {
  font-size: 30px;
  color: white;
  background: none;
  /*color: black;*/
  border-radius: none;
  margin-left: 0.2em;
  margin-top: 0.2em;
  margin-right: 1em;
}
a:visited{
  color: white;
}

