
  <form id = "addSurvey" action="/survey/new" method = "POST">
    <input type="text" name="survey[:title]" placeholder = "Enter Your Form Title">
      <span id="question"><input type="text" name="survey[:question]" placeholder="Enter Your Question"></span>
      <div id ='items'>
        <div><input type="text" id="choice 1" placeholder="Enter Possible Answer"></div>
      <button id="add">Add Possible Answer</button></div>

    <input type="submit" value="Submit your Survey!">
  </form>

