<div id="container">
  <form id = "addSurvey" action="/survey/new" method = "POST">
    <input type="text" placeholder = "Enter Your Form Title">
      <span id="question"><input type="text" name="question" placeholder="Enter Your Question"></span>
      <div id ='answers'>
        <input type="text" id="choice 1" name="choice 1" placeholder="Enter Possible Answer">
      </div>

    <button id="add">Add Possible Answer</button><input type="submit" value="Submit your Survey!">
  </form>
</div>
