<div class ="container">
  <form name="survey" action="survey/new" method = "POST">
    <p>Survey Title</p>
      <input name = "survey[title]" type = "text">
    <p>Question 1:</p>
      <input name="survey[question1]" type="text">
    <p>Possible Answer #1 For Question #1</p>
      <input name="survey[answer1]" type="text">
    <p>Possible Answer #2 For Question #1</p>
      <input name="survey[answer2]" type="text">
    <p>Possible Answer #3 For Question #1</p>
      <input name ="survey[answer3]" type="text">
    <p>Possible Answer #4 For Question #1</p>
      <input name="survey[answer4]" type="text">
    <p>Question 2:</p>
      <input name="survey[question2]" type="text">
    <p>Possible Answer #1 For Question #1</p>
      <input name="survey[answer1]" type="text">
    <p>Possible Answer #2 For Question #1</p>
      <input name="survey[answer2]" type="text">
    <p>Possible Answer #3 For Question #1</p>
      <input name ="survey[answer3]" type="text">
    <p>Possible Answer #4 For Question #1</p>
      <input name="survey[answer4]" type="text">
    <br><input type="submit" value="Submit your Survey!"
  </form>
</div>
