
  <form id#survey="survey" action="/survey/new" method = "POST">
    <input type="text" name="survey[:title]" placeholder = "Enter Your Form Title">
    <p>
      <p><input type="text" name="survey[:question]" placeholder="Enter Your Question">
     </p>
      <p>
      <label for="var2">Variable 2: </label>
      <input type="text" name="var2" id="var2"><span class="removeVar">Remove Variable</span>
      </p>
       <span id="addVar">Add Possible Answer...</span>
    <input type="submit" value="Submit your Survey!">
  </form>

