<h2><%=@survey.title %></h2>
<style>


</style>
<table width = "auto">
  <tr>
    <td>
      <% @possiblechoices.each do |choice| %>
      <%= choice.content %><br>
      <% end %>
    </td>
    <td> <div class = "chart"></div>
    </td>
  </tr>
</table>
