<h2><%=@survey.title %></h2>
<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>
<table width = "auto">
  <tr>
    <td>
      <% @possiblechoices.each do |choice| %>
      <%= choice.content %><br>
      <% end %>
    </td>
    <td> <div class = "chart"></div>
    </td>
  </tr>
</table>


