<div id ="survey_stats" class ="modal">
<h2><%=@survey.title %></h2>

<h3><%=@question.content %></h3>
<style>


<table width = "auto">
  <tr>
    <td>
      <% @possiblechoices.each do |choice| %>
      <%= choice.content %><br>
      <% end %>
    </td>
    <td><div class = "chart"></div>
    </td>
  </tr>
</table>

<form name="update" action='/survey/<%=@survey.id %>/edit' method="get">
  <input type="submit" value="Update Survey">
</form>
</div>


