<h1>Here are your surveys, <%=@user.username %>:</h1>

<% @user.surveys.each do |survey| %>
<a id ="stats" href="/survey/results/<%= survey.id %>" rel="modal:open"><%= survey.title %></a><br>
<% end %>
